venv/
skillupproject/nohup.out
skillupproject/skillupproject/__pycache__/
.DS_Store
skillupproject/.DS_Store
skillupproject/db.sqlite3
skillupproject/api/__pycache__/
skillupproject/api/migrations/__pycache__/
skillupproject/skillupproject/settings_local.py